<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
<% include partial/head %>
    </head>
    <body>
        <div>
            <% include partial/nav %>
        <br/>
<%- include(title) %>
        </div>
    </body>
</html>